[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "neutroSurvey"]
	path = neutroSurvey
	url = https://github.com/cran/neutroSurvey
